@import url(https://fonts.googleapis.com/css2?family=Oxygen:wght@400&display=swap);
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600&display=swap");

body {
  background: #f1efeb;
  font-family: "Oxygen", "Space Grotesk", sans-serif;
  color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
